version: "3"

volumes:
  browser_download: # selenium-server下载位置

services:
  main: # 本程序
    build: ./src
    volumes:
      - ${AUM_MUSIC_DIR}:/music
      - browser_download:/browser_download
    environment:
      AUM_MUSIC_UID: ${AUM_MUSIC_UID-0}
      AUM_MUSIC_GID: ${AUM_MUSIC_GID-0}
      AUM_UNLOCK_PATCH_SIZE: ${AUM_UNLOCK_PATCH_SIZE-6}
    depends_on:
      - unlock-music
      - selenium-server

  selenium-server: # Selenium服务
    image: seleniarm/standalone-firefox:109.0
    entrypoint: bash -c 'sudo chown -R seluser:seluser /home/seluser/Downloads && /opt/bin/entry_point.sh'
    volumes:
      - browser_download:/home/seluser/Downloads
    environment:
      TZ: Asia/Shanghai
      LANG: C.UTF-8
      SE_START_XVFB: false
    deploy:
      resources:
        limits:
          memory: 500m

  unlock-music: # 解锁音乐的应用
    image: jiabh/unlock-music:v1.10.0
    environment:
      TZ: Asia/Shanghai
